
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{

/*COLOR PALETTE*/

/*  Primary */
--nutmeg: #854632;
--dark-raspberry:#7b284f;

/*Neutral*/

--white: hsl(0, 0%, 100%);
--rose-white: #fff5fa;
--eggshell: hsl(30, 54%, 90%);
--light-grey: hsl(30, 18%, 87%);
--wenge-brown: #5f574e;
--dark-charcoal: #302d2c;

/*Typography*/
--headings-font: "Young Serif", serif;
--base-font: "Outfit", sans-serif;

/*Font sizes*/
--text-regular: 1rem;
--heading1: 2.5rem;
--heading3: 1.65rem;
--heading6: 1.15rem;

/*Font weight*/
--regular:400;
--bold:600;
--bolder:700;

/*Spacings*/
--spacing4:0.25rem;
--spacing8:0.5rem;
--spacing12:0.75rem;
--spacing16:1rem;
--spacing20:1.25rem;
--spacing22:1.375rem;
--spacing24:1.5rem;
--spacing28:1.75rem;
--spacing32:2rem;
--spacing36:2.25rem;
--spacing40:2.5rem;
--spacing48:3rem;
--spacing64:4rem;
--spacing128:8rem;

}